@charset "UTF-8";
@font-face {
    font-family: 'Kavoon';
    src: url('fonts/Kavoon-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Akaya';
    src: url('fonts/AkayaKanadaka-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root{
    --cor1: #0c0f3ffb;
    --cor2: #fab82aec;
}

body{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}

header{
    background-color: var(--cor1);
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.301);
    padding: 2px;
    margin-bottom: 30px;
}
nav{
    display: flex;
    justify-content: center;
    font-family: 'Akaya';
}

nav h2{
    font-size: 1.6rem;
}

nav h2:hover{
    text-decoration: underline;
}

ul{ 
    display: flex;
    justify-content: center;
    gap: 10em; 
    align-items: center;
    list-style: none;
    width: 80%;
    padding-right: 11em;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.568);
    font-size: 1.8rem; 
}

.main-menu a {
    display: inline-block; 
    text-decoration: none;
    color: #ffffff; 
    transition: transform 0.2s ease-in-out;
}

.main-menu a:hover {
    transform: scale(1.1);  
}

.main-menu a img{
    display: none;
}

.main-menu a span{
    display: block;
}

nav img{
    padding-left: 44px;
    width: 78px;
}

.tituloS{
    text-align: center;
    width: 100%;
    font-size: 2.5rem;
    color: rgb(68, 68, 68);
    margin: 40px 0 20px 0;
    display: block;
    background-color: #fab82a25;;
    font-family: 'Kavoon', sans-serif;
}

.acai, .choco, .batata{
    display: flex;
    gap: 3rem;
    padding: 20px;
    margin: 40px;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: flex-start;
}

.itens{
    background-color: #dfdfdfaf;
    width: 100%;
    max-width: 300px; 
    height: 470px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #0000005e;
    padding-bottom: 40px; 
}

.itens img{
    width: 100%; 
    height: 200px; 
    border-radius: 7px;
    object-fit: cover;
}

.itens section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;   
}

.itens h1{
    font-size: 1.4rem; 
    margin-top: 30px;
    text-align: center; 
}

.itens h2{
    font-size: 1.1rem; 
    color: rgba(17, 4, 4, 0.507);
    text-align: center;
}

.preco{
    font-size: 22px;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
}

.itens button{
    background-color: var(--cor2);
    height: 45px; 
    border: none;
    padding: 6px; 
    width: 80%;
    color: #efeded;
    font-size: 1.5rem; 
    font-weight: bold;
    cursor: pointer;
}

.about_title{
    text-align: center;
    font-size: 2.5rem;
    padding: 50px;
}

.about_txt{
    text-align: center;
    font-size: 1.3rem;
    padding: 50px 5% 230px 5%;
    line-height: 2rem;
}

footer{
    background-color: var(--cor1);
    color: #ffffff;;
    width: 100%;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.final{
    max-width: 200px;
    height: auto;
    display: block;
    margin: 0 0 10px 0;
    padding: 0;
}

footer h2{
    font-size: 1.8rem;
    margin-bottom: 50px;
}

footer ul{
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 0;
    padding: 0;
}

footer ul li{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    margin: 0;
    padding: 0;
}

footer ul li img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
    border-radius: 7px;
}
@media (max-width: 670px){

header{
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1px 0;
    height: 60px;
    overflow: hidden;
    margin-bottom: 0;
}


nav img{
    display: none;
}

ul{
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    gap: 0;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
}
.main-menu li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-grow: 1;
}

.main-menu a{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    gap: 2px;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.manual-nav, .nav-auto {
        display: none;
    }



.main-menu a img{
    display: block; 
    width: 25px; 
    height: 25px; 
    object-fit: contain;
    padding: 0;
}

.main-menu a span{
    display: blcok;
    font-size: 1rem;
    text-shadow: none;
    padding: 0;
}


a{
    padding: 0px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.568);
}



}
