@charset "UTF-8";

body{
    margin: 0;
    padding: 0;

}

header{
    background-color: rgba(154, 154, 154, 0.925);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 16px;
    align-items: center;
    font-size: 17px;
    padding: 2px;
}

ul{
    display: flex;
    gap: 1.5rem;
    list-style: none;
}
