@charset "UTF-8";
@font-face {
    font-family: 'Kavoon';
    src: url('fonts/Kavoon-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Akaya';
    src: url('fonts/AkayaKanadaka-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root{
    --cor1: #0c0f3ffb;
    --cor2: #fab82aec;
}
html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: var(--cor1);
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.301);
    padding: 2px;
    margin-bottom: 30px;
}
nav{
    display: flex;
    justify-content: center;
    font-family: 'Akaya';
}

ul{ 
    display: flex;
    justify-content: center;
    gap: 10em; 
    align-items: center;
    list-style: none;
    width: 80%;
    padding-right: 11em;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.568);
    font-size: 1.8rem; 
}

.main-menu a {
    display: inline-block; 
    text-decoration: none;
    color: #ffffff; 
    transition: transform 0.2s ease-in-out;
}

.main-menu a:hover {
    transform: scale(1.1); 
}

.main-menu a img{
    display: none;
}

.main-menu a span{
    display: block;
}

nav img{
    padding-left: 44px;
    width: 78px;
}

/*style do slide*/

.slider{
    margin: 0 auto;
    width: 1200px;
    height: 800px;
    overflow: hidden;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.288);
    border-radius: 7px;
}

.slides{
    width: 300%;
    height: 800px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 33.333%;
    position: relative;
    transition: 1.5s;
}
.slide img{
    width: 1200px;
    height: 800px;
}

.manual-nav{
    position: absolute;
    width: 1200px;
    margin-top: -20px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: white;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -33.333%;
}

#radio3:checked ~ .first{
    margin-left: -66.666%;
}

.nav-auto article{
    border: 2px solid rgb(255, 255, 255);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.nav-auto{
    position: absolute;
    width: 1200px;
    margin-top: 780px;
    display: flex;
    justify-content: center;
}

.nav-auto article:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .nav-auto .auto-btn1{
    background-color: white;
}

#radio2:checked ~ .nav-auto .auto-btn2{
    background-color: white;
}

#radio3:checked ~ .nav-auto .auto-btn3{
    background-color: white;
}

            /*Fim do slide*/          

            /*Ãrea Menu*/

.tituloS{

    text-align: center;
    width: 100%;
    font-size: 2.5rem;
    color: rgb(68, 68, 68);
    margin: 40px 0 20px 0;
    display: block;
    background-color: #fab82a25;;
    font-family: 'Kavoon', sans-serif;
}

.hamb, .mundi, .dog, .drink{
    display: flex;
    gap: 3rem;
    padding: 20px;
    margin: 40px;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: flex-start;
}


.dog h1{
    margin-bottom: -10.28px;
}

.itens{
    background-color: #dfdfdfaf;
    width: 100%;
    max-width: 300px; 
    height: 470px; 
    border-radius: 12px;
    box-shadow: 4px 4px 12px #0000005e;
    padding-bottom: 50px; 
}

.itens img{
    width: 100%; 
    height: 200px; 
    border-radius: 7px;
    object-fit: cover;
}

.itens section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}

.itens h1{
    font-size: 1.5rem; 
    margin-top: 0; 
    padding-top: 30px; 
    line-height: 1.2; 
    min-height: 3.6rem; 
    display: flex;
    align-items: center;    
    justify-content: center; 
    text-align: center;
    flex-direction: column;
}

.itens h2{
    font-size: 1.2em; 
    color: rgba(17, 4, 4, 0.507);
    text-align: center;
}

.preco{
    font-size: 22px;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
}

.itens button{
    background-color: var(--cor2);
    height: 45px; 
    border: none;
    padding: 6px; 
    width: 80%;
    color: #efeded;
    font-size: 1.5rem; 
    font-weight: bold;
    cursor: pointer;
}

footer{
    background-color: var(--cor1);
    color: #ffffff;;
    width: 100%;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.final{
    max-width: 200px;
    height: auto;
    display: block;
    margin: 0 0 10px 0;
    padding: 0;
}

footer h2{
    font-size: 1.8rem;
    margin-bottom: 50px;
}

footer ul{
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 0;
    padding: 0;
}

footer ul li{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    margin: 0;
    padding: 0;
}

footer ul li img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
    border-radius: 7px;
}

@media (max-width: 1200px) {

        header{
        height: 50%;
        
    }

    header > a{
        font-size: 35px;
        margin: 10px;
    }

    nav{
        font-size: 15px;
        margin: 10px;
        justify-content: end;
    }

    ul{
        gap: 25px;
        justify-content: flex-end;
        align-items: center;
    }
  
    article{
        margin: 5px;
    }

    .slider {
        width: 100vw; 
        height: 50vw; 
        margin: 0;
        border-radius: 0;
    }

    .slides {
        height: 50vw;
    }

    .slide img {
        width: 100%; 
        
        height: 50vw;
        object-fit: cover; 
    }


    .manual-nav, .nav-auto {
        width: 100vw; 
    }
    
    .manual-nav {
       
        margin-top: calc(50vw - 40px); 
    }
    
    .nav-auto {
        margin-top: calc(50vw - 10px); 
    }

    #radio2:checked ~ .first {
        margin-left: -33.333%;
    }
    #radio3:checked ~ .first {
        margin-left: -66.666%;
    }
}

@media (max-width: 670px){

header{
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1px 0;
    height: 60px;
    overflow: hidden;
    margin-bottom: 0;
}


nav img{
    display: none;
}

ul{
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    gap: 0;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
}
.main-menu li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-grow: 1;
}

.main-menu a{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    gap: 2px;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.manual-nav, .nav-auto {
        display: none;
    }



.main-menu a img{
    display: block; 
    width: 25px; 
    height: 25px; 
    object-fit: contain;
    padding: 0;
}

.main-menu a span{
    display: blcok;
    font-size: 1rem;
    text-shadow: none;
    padding: 0;
}


a{
    padding: 0px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.568);
}



}