@charset "UTF-8";

:root{
    --cor1: #0c1d3ffb;
    --cor2: #EBA200;
}


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: var(--cor1);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.301);
    padding: 15px 0;
}
nav{
    display: flex;
    justify-content: center;
}

ul{ 
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    list-style: none;
    width: 80%;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.568);
    font-size: 34px;
    
}
nav img{
    max-width: 130px;
}

/*style do slide*/

.slider{
    margin: 0 auto;
    width: 1200px;
    height: 800px;
    overflow: hidden;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.288);
}

.slides{
    width: 300%;
    height: 800px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 33.333%;
    position: relative;
    transition: 2s;
}
.slide img{
    width: 1200px;
    height: 800px;
}

.manual-nav{
    position: absolute;
    width: 1200px;
    margin-top: -20px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: white;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -33.333%;
}

#radio3:checked ~ .first{
    margin-left: -66.666%;
}

.nav-auto article{
    border: 2px solid var(--cor1);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.nav-auto{
    position: absolute;
    width: 1200px;
    margin-top: 780px;
    display: flex;
    justify-content: center;
}

.nav-auto article:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .nav-auto .auto-btn1{
    background-color: white;
}

#radio2:checked ~ .nav-auto .auto-btn2{
    background-color: white;
}

#radio3:checked ~ .nav-auto .auto-btn3{
    background-color: white;
}


